<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <title>Login and Registration</title>
  </head>
  <body>
    <p>Displaying <%= data[0].username%>'s Account</p>
    <form action="/users/update" method="post">
      <p>Username:</p>
      <input type="input" name="username" value="<%= data[0].username%>" />
      <p>Password:</p>
      <input type="input" name="password" />
      <input type="hidden" name="id" value="<%= data[0].id%>" />
      <button type="submit" class="btn btn-danger">Change Details</button>
    </form>
    <a href="/main" class="btn btn-success"> Back to Main page</a>
    <a href="/destroy/<%= data[0].id%>" class="btn btn-success">
      Delete Account</a
    >

    <a
      onClick="window.location.reload()"
      href="/reload"
      class="btn btn-primary"
    >
      UNLOCK NEW ATTACK!!!</a
    >
  </body>
</html>

<!-- <input type="hidden" name="_method" value="patch" /> -->
